.home{
    justify-content: space-around;
    align-items: center;
    display: grid;
    background-color: black;
    animation: inicio .8s forwards;
}

.home__conteudo{
    margin-top: 7.5rem;
    align-self: start;
    display: grid;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.home__subtexto {
    font-size: 1.6rem;
    font-weight: 600;
}

.home__apresentacao {
font-size: 1.2rem;
font-weight: 200;
}

.redes-icon a {
    align-self: start;
    color: var(--text-color);
}

@keyframes inicio {
    from {
        opacity: 0;
        transform: translate3d(0, -3.7rem, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}